<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudySpace</title>
    <link rel="stylesheet" href="/static/styles/style.css"{% now "U" %} />
</head>
<body>

{% include 'base/navbar.html' %}

<table class="leaderboard">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.score }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
