<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudySpace</title>
    <link rel="stylesheet" href="/static/styles/style.css"{% now "U" %} />
</head>
<body>

{% include 'base/navbar.html' %}

<h2 class="project_h">Top projects from our community</h2>

<ol class="projects">
    {% for project in projects %}
        <li>
            Project: {{ project.name }}<br>
            Author: {{ project.author }}<br>
            Source Code: {{ project.source_code }}<br>
        </li>
    {% endfor %}
</ol>

{% if request.user.is_authenticated %}
    <menu class="save_project">
        <li><a href="{% url 'addProject' %}">Add project</a></li>
    </menu>
{% endif %}

</body>
</html>
