<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudySpace</title>
    <link rel="stylesheet" href="/static/styles/style.css"{% now "U" %} />
</head>
<body>

{% include 'base/navbar.html' %}

<h2 class="topic_h">Latest topics</h2>

<ol class="topics">
    {% for topic in topics %}
        <li>
            Topic: {{ topic.name }}<br>
            Author: {{ topic.author }}<br>
            Content: {{ topic.content }}<br><br>
            {% if request.user.is_authenticated and request.user == topic.author %}
                    <a href="{% url 'deleteTopic' topic.id %}" class="custom_button">Delete</a>
                    <a href="{% url 'editTopic' topic.id %}" class="custom_button">Edit</a><br><br>
            {% endif %}
        </li>
    {% endfor %}
</ol>

{% if request.user.is_authenticated %}
    <menu class="add_topic">
        <li><a href="{% url 'addTopic' %}">Add topic</a></li>
    </menu>
{% endif %}

</body>
</html>
