<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudySpace</title>
    <link rel="stylesheet" href="/static/styles/style.css"{% now "U" %} />
</head>
<body>

{% include 'base/navbar.html' %}

<h2 class="account_h">Account Details</h2>

<article class="account_details">
    <h3>First name: {{ user.first_name }}</h3>
    <h3>Last name: {{ user.last_name }}</h3>
    <h3>Username: {{ user.username }}</h3>
    <h3>Age: {{ user.age }}</h3>
    <h3>Category: {{ user.category }}</h3>
    <h3>Github: <a href="{{ user.github }}"><img src="{% static 'images/githubIcon.png' %}" alt="githubLink"></a></h3>
    <h3><a href="{% url 'editAccount' user.id %}" class="custom_button">Edit Account</a></h3>
    <h3><a href="{% url 'deleteAccount' user.id %}" class="custom_button">Delete Account</a></h3>
</article>

</body>
</html>
