<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudySpace</title>
    <link rel="stylesheet" href="/static/styles/style.css"{% now "U" %} />
</head>
<body>

{% include 'base/navbar.html' %}

<h2 class="add_project_h">Add new Project</h2>

{#Place for HTML form generate from backend#}
{#Temp for frontend, static for preview:#}
<article class="project_create">
    <h3>Title: Enter title of project</h3>
    <h3>Author: Your username</h3>
    <h3>Source: Place for source</h3>
</article>

<menu class="save_project">
    <li><a href="{% url 'projects' %}">Save</a></li>
</menu>

</body>
</html>
