<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudySpace</title>
    <link rel="stylesheet" href="/static/styles/style.css"{% now "U" %} />
</head>
<body>

{% include 'base/navbar.html' %}

<h2 class="log_content">Login</h2>

<form method="POST" class="login">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

<p class="log_content">Don't have an account? <a href="{% url 'register' %}">Register</a></p>

</body>
</html>
