<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudySpace</title>
    <link rel="stylesheet" href="/static/styles/style.css"{% now "U" %} />
</head>
<body>

{% include 'base/navbar.html' %}

<h2 class="log_content">Login</h2>

{% block content %}
<form method="post" class="login">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
{% endblock %}

<p class="log_content">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>

</body>
</html>
